body {
    margin: 0;
}

a {
    color: #222427;
    text-decoration: none;
}

#page {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
}

.FixedTop {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 7.5%;
    padding-left: 7.5%;
    background: url('images/header-bg.jpeg');
    background-size: cover;
    height: 70px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo img {
    width: 120px;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 500px;
}

.header-phone-number p {
    font-size: 11px;
    text-align: right;
    margin-bottom: 0;
    margin-right: 5px;
}

.main-menu {
    width: 100%;
}

.efelle-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    list-style-type: none;
}

.efelle-menu a:hover {
    color: #446286;
}

.homepage-masthead {
    /* background looks better if vertically centered, but I kept it with a top alignment to match the example */
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('images/banner.jpg') top center;
    background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
}

.masthead-text {
    margin-left: 80px;
    margin-bottom: 5px;
    color:#fafafa;
    text-shadow: -2px 0 10px rgb(0, 0, 0);
}

.masthead-text h2 {
    font-size: 275%;
    letter-spacing: 1px;
    margin: 0;
}

.masthead-text h5 {
    font-family: 'Architects Daughter', cursive;
    font-size: 170%;
    margin: 0;
    font-weight: 500;
}

.masthead-text p {
    margin: 12px 0;
}

.masthead-text span {
    font-size: 73%;
}

.masthead-text button {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    padding: 11px 35px;
    border: none;
    font-size: 53%;
    background-color: #446286;
    margin-top: 15px;
    cursor: pointer;
}

.masthead-line {
    width: 47.5px;
    border-bottom: 1px solid #fafafa;
    opacity: .5;
}

.our-services {
    background: url('./images/woodgrain-bg.jpeg');
    background-size: contain;
    padding-top: 35px;
}

.title {
    font-family: 'Teko', sans-serif;
}