body {
    margin: 0;
}

a {
    text-decoration: none;
}

#page {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.FixedTop {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 7.5%;
    padding-left: 7.5%;
    background: url('images/header-bg.jpeg');
    background-size: cover;
    height: 100px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo img {
    width: 175px;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 700px;
}

.header-phone-number p {
    text-align: right;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 5px;
}

.main-menu {
    width: 100%;
}

.efelle-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: 14px;
}

.efelle-menu a {
    color: #333;
}

.efelle-menu a:hover {
    color: #446286;
}

.homepage-masthead {
    /* background looks better if vertically centered, but I kept it with a top alignment to match the example */
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('images/banner.jpg') top center;
    background-size: cover;
    height: 815px;
    display: flex;
    align-items: center;
}

.masthead-text {
    margin-left: 125px;
    color:#fafafa;
    text-shadow: -2px 0 20px rgb(0, 0, 0);
}

.masthead-text h2 {
    font-size: 410%;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 2.5px;
}

.masthead-text h5 {
    font-family: 'Architects Daughter', cursive;
    font-size: 255%;
    margin: 0;
    font-weight: 500;
}

.masthead-text p {
    margin: 25px 0;
}

.masthead-text span {
    font-size: 105%;
}

.masthead-text button {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    padding: 17px 55px;
    border: none;
    font-size: 75%;
    background-color: #446286;
    margin-top: 20px;
    cursor: pointer;
}

.masthead-line {
    width: 72px;
    height: 3px;
    border-bottom: 1px solid #fafafa;
}

.our-services {
    background: url('./images/woodgrain-bg.jpeg');
    background-size: contain;
    padding: 63px 0;
}

.cms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cms-content p {
    margin: 14px 0;
}

.cms-content span {
    font-size: 125%;
    color: #333;
}

.cms-content h1 {
    font-size: 190%;
    color: #222427;
    margin-top: 0;
    margin-bottom: 12px;
}

.cms-line {
    width: 30px;
    border-bottom: 1px solid #222427;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0;
}

.service-block-wrapper {
    margin: 15px;
}

.service-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 315px;
    overflow: hidden;
}

.overlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    background-color: #2224277c;
    transition: width .5s, height .5s, border-radius .5s, background-color .5s;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.overlay:hover {
    transition: width .5s, height .5s, border-radius .5s, background-color .5s;
    width: 315px;
    height: 350px;
    border-radius: 0;
    background-color: #222427b2;
}

.overlay:hover .title {
    transition: margin-bottom .5s;
    margin-bottom: 85px;
}

.overlay:hover .caption, .overlay:hover a {
    transition: opacity .65s;
    opacity: 1;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Teko', sans-serif;
    font-size: 170%;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0;
    transition: margin-bottom .5s;
    margin-bottom: 250px;
    position: relative;
    top: 75px;
}

.title-line {
    border-bottom: 2px #fafafa solid;
    width: 32px;
}

.caption {
    padding: 0 20px;
    width: 260px;
    opacity: 0;
    transition: opacity .35s;
}

.overlay a {
    color: #88b9f5;
    position: relative;
    opacity: 0;
    transition: opacity .35s;
}

footer {
    background-color: #222427;
    color: #ececec;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 125px;
}

.copy {
    font-size: 12px;
}

.copy p {
    color: rgb(148, 148, 148);
    margin-top: 40px;
}

.copy a {
    color: #446286;
}

.footer-social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.footer-social-icons a {
    margin-left: 20px;
}